@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.bg-header {
  position: relative;
  background-image: url("/src/assets/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.bg-header::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-content {
  position: relative;
  z-index: 2;
}

.bg-join {
  position: relative;
  background-image: url("/src/assets/join.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.bg-join::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.join-content {
  position: relative;
  z-index: 2;
}